################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/1.-IWebDriverConfig/v17/.wsuo
/.vs/

/SeleniumInitialize_Builder/obj/Debug/net6.0/SeleniumInitialize_Builder.AssemblyInfo.cs
/SeleniumInitialize_Builder/obj/Debug/net6.0/SeleniumInitialize_Builder.AssemblyInfoInputs.cache
/SeleniumInitialize_Builder/obj/Debug/net6.0/SeleniumInitialize_Builder.assets.cache
/SeleniumInitialize_Builder/obj/Debug/net6.0/SeleniumInitialize_Builder.csproj.AssemblyReference.cache
/SeleniumInitialize_Builder/obj/Debug/net6.0/SeleniumInitialize_Builder.GeneratedMSBuildEditorConfig.editorconfig
/SeleniumInitialize_Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
/SeleniumInitialize_Tests/bin/Debug/net6.0/InternalTrace.20768.log
/SeleniumInitialize_Tests/obj/Debug/net6.0/SeleniumInitialize_Tests.AssemblyInfo.cs
/SeleniumInitialize_Tests/obj/Debug/net6.0/SeleniumInitialize_Tests.AssemblyInfoInputs.cache
/SeleniumInitialize_Tests/obj/Debug/net6.0/SeleniumInitialize_Tests.assets.cache
/SeleniumInitialize_Tests/obj/Debug/net6.0/SeleniumInitialize_Tests.csproj.AssemblyReference.cache
/SeleniumInitialize_Tests/obj/Debug/net6.0/SeleniumInitialize_Tests.GeneratedMSBuildEditorConfig.editorconfig
